#!/bin/bash

plugin_repo_url=""
name_pattern=""
extract_path=""

DOWNLOADED_FILE=$(./scripts/download_latest.sh $plugin_repo_url "$name_pattern")
unzip -o $DOWNLOADED_FILE -d $extract_path
rm -rf $DOWNLOADED_FILE