#!/bin/bash

PLUGIN_NAME=""
REPO_URL=""
SEARCH_REGEX=""
EXTRACT_PATH=""
EXTRACT_FLATTEN=false
CSS_PLUGIN=true

./scripts/process_plugin.sh $PLUGIN_NAME $REPO_URL $SEARCH_REGEX $EXTRACT_PATH $EXTRACT_FLATTEN $CSS_PLUGIN